body {
  background: #eee;
  font-family: sans-serif;

}
.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  font-size: 16px;
  padding: 10px;

  box-sizing: border-box;
}

.card *{
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}


.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  font-size: 14px;

}

.button-container {
  background: #e3f4ff;

  text-align: center;

  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;

  margin: 0 auto;
  padding: 10px;
  width: 150px
}
